/APLICACION FORM/ProyectoPlanilla/nbproject/private/
/Nueva Carpeta/ProyectoPlanilla/nbproject/private/
/Nueva Carpeta/ProyectoPlanilla/build/
/APLICACION WEB/ProyectoWeb/nbproject/private/
/APLICACION WEB/ProyectoWeb/build/