<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EliminarPuesto</servlet-name>
        <servlet-class>Controlador.EliminarPuesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPuesto</servlet-name>
        <servlet-class>Controlador.GuardarPuesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDeduccionesPagos</servlet-name>
        <servlet-class>Controlador.EliminarDeduccionesPagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarDeduccionesPagos</servlet-name>
        <servlet-class>Controlador.GuardarDeduccionesPagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEmpleado</servlet-name>
        <servlet-class>Controlador.EliminarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarEmpleado</servlet-name>
        <servlet-class>Controlador.GuardarEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarPuesto</servlet-name>
        <url-pattern>/EliminarPuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPuesto</servlet-name>
        <url-pattern>/GuardarPuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDeduccionesPagos</servlet-name>
        <url-pattern>/EliminarDeduccionesPagos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarDeduccionesPagos</servlet-name>
        <url-pattern>/GuardarDeduccionesPagos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEmpleado</servlet-name>
        <url-pattern>/EliminarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarEmpleado</servlet-name>
        <url-pattern>/GuardarEmpleado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
